<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Frontend</title>

    <!-- Include Typed.js styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/typed.js@2.0.12">

    <style>
        /* Optional: Customize cursor styles */
        .typed-cursor {
            font-weight: bold;
        }
    </style>
</head>
<body>

<button><a class="nav-link fw-bold py-1 px-0" href="/">Home</a></button>

<h1 id="typed">x86 online assembler</h1>

<script>
    function animateText() {
        var text = document.getElementById('typed').innerText;
        var newText = '';
        var delay = 100; // Adjust the delay as needed

        // Delete each character with a delay
        for (var i = text.length; i >= 0; i--) {
            setTimeout(function (index) {
                newText = text.substring(0, index);
                document.getElementById('typed').innerText = newText;
            }, (text.length - i) * delay, i);
        }

        // Print each character with a delay
        for (var i = 0; i <= text.length; i++) {
            setTimeout(function (index) {
                newText = text.substring(0, index);
                document.getElementById('typed').innerText = newText;
            }, (text.length + i) * delay, i);
        }
    }

    // Call the animateText function when the page loads
    window.onload = animateText;
    function runScript() {
        var input = document.getElementById('input').value;
        fetch('/assemblerVP', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({input: input}),
        })
            .then(response => response.json())
            .then(data => {
                document.getElementById('output').innerText = data.output;
            });
    }
</script>

<div>
    <label for="input">Input:</label>
    <textarea type="text" id="input" placeholder="write your instructions"></textarea>
    <button onclick="runScript()">Run Script</button>
</div>
<div>
    <h2>Output:</h2>
    <pre id="output"></pre>
</div>

</body>
</html>

